eth-abi==2.1.1
eth-account==0.5.7
eth-bloom==1.0.4
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-tester==0.6.0b6
eth-typing==2.3.0
eth-utils==1.10.0
ethereum==2.3.2
ipfs-api==0.2.3
ipfsapi==0.4.4
ipfshttpclient==0.8.0a2
ipython-genutils==0.2.0
ipywidgets==7.7.0
jsons==1.6.2
py==1.11.0
py-ecc==5.2.0
py-evm==0.5.0a3
py-geth==3.8.0
py-solc-x==1.1.1
pycrypt==0.7.2
pycrypto==2.6.1
pycryptodome==3.10.1
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
web3==5.29.1
websockets==9.1
widgetsnbextension==3.6.0
